<h1>Log in</h1>

  <div class="m-3 shadow p-3 bg-dark rounded">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "text-light" %>
        <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "text-light" %>
        <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
      </div>

      <div class="form-group">
        <%= f.submit("Log in",class: "btn btn-success btn-lg") %>
      </div>
    <% end %>
  </div>