<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a class="current_link">Current</a>
      </li>
      <li>
        <a class="backlog_link">Backlog</a>
      </li>
      <li>
        <a class="icebox_link">Icebox</a>
      </li>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="m-3 d-flex justify-content-center">
      <%= form_tag(project_path, method: :get) do %>
        Feature: <%= text_field_tag :query, params[:query] %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Toggle Menu</a>
      </div>


      <div class="col-lg-3 p-0">
        <div class="card current_card">
          <div class="card-header">
            Current Iteration
            <button type="button" class="close" aria-label="Close" id="current">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <% @project.features.each do |feature| %>
              <% if feature.panel_name == "current" %>
                <div class="border m-2 ">
                  Title: <%= feature.title %>
                  <br>
                  status: <%= feature.status %>
                  <br>
                  <%= link_to  "Show", [@project, feature] %>
                </div>
              <% end %>
            <% end %>
          </div>
          <br>
          <%= link_to  "+ Add Feature", new_project_feature_path(@project) %>
        </div>
      </div>


      <div class="col-lg-3 p-0">
        <div class="card backlog_card">
          <div class="card-header">
            Backlog
            <button type="button" class="close" aria-label="Close" id="backlog">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <% @project.features.each do |feature| %>
              <% if feature.panel_name == "backlog" %>
                <div class="border">
                  Title: <%= feature.title %>
                  <br>
                  status: <%= feature.status %>
                  <br>
                  <%= link_to  "Show", [@project, feature] %>
                </div>
              <% end %>
            <% end %>
          </div>
          <br>
          <%= link_to  "+ Add Feature", new_project_feature_path(@project) %>
        </div>
      </div>


      <div class="col-lg-3 p-0">
        <div class="card icebox_card">
          <div class="card-header">
            Icebox
            <button type="button" class="close" aria-label="Close" id="icebox">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <% @project.features.each do |feature| %>
              <% if feature.panel_name == "icebox" %>
                <div class="border">
                  Title: <%= feature.title %>
                  <br>
                  status: <%= feature.status %>
                  <br>
                  <%= link_to  "Show", [@project, feature] %>
                </div>
              <% end %>
            <% end %>
          </div>
          <br>
          <%= link_to  "+ Add Feature", new_project_feature_path(@project) %>
        </div>
      </div>

    </div>
  </div>

</div>



<%= stylesheet_link_tag "sidenav" %>
<%= javascript_include_tag "sidenavscript.js" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.js" %>

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.css" %>
