<div>
  <%= form_with(model: @feature, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "text-white"%>
    <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Enter your title" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "text-white"%>
    <%= f.text_field :description, class: "form-control shadow rounded", placeholder: "Enter description" %>
  </div>
 <div class="form-group">
    <%= f.label :project_id, class: "text-white"%>
    <%= f.text_field :project_id, class: "form-control shadow rounded", placeholder: "Enter project id" %>
  </div> 
  <div class="form-group">
    <%= f.label :panel, class: "text-white"%>
    <br>
    <%= f.select :panel_name, options_for_select([['current', 'current'], ['icebox', 'icebox'], ['backlog', 'backlog']]) %>
  </div> 
  <div class="form-group">
    <%= f.submit("Save",class: "btn btn-success btn-lg") %>
  </div>
<% end %>

</div>