<div class="card">
    Title: <%= @feature.title %>
    <br>
    <br>
    Description: <%= @feature.description %>
    <br>
    <br>
    Ticket Id: <%= @feature.ticket_id %>
    <br>
    <br>
    Status: <%= @feature.status %>
    <br>
    <br>
    Project_id: <%= @feature.project_id %>
    <br>
    <br>
    Users: <%= h @feature.users.collect {|r| r.name}.join(', ') %>

    <%= link_to  "Download", @feature.file, download: " " %>
</div>

<div>
  <%= link_to  "edit", edit_project_feature_path(@project, @feature) %>
  <%= link_to 'destroy', [@project, @feature], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>


<div>
  <h1>Tasks (<%= @tasks.completed.count%>/<%= @tasks.count %>)</h1>
  <% @tasks.each do |task| %>
    <% if task.status %>
      <strike>
        <%= task.description %>
      </strike>
    <% else %>
      <%= task.description %>
    <% end %>
    <br>
    <%= form_for task, validate: true do |f| %>
      <%= f.check_box :status, value: task.status %>
      <%= f.text_field :description, placeholder: "Edit task" %>
      <% if task.status %>
        <%= f.submit("Undo") %>
      <% else %>
        <%= f.submit("Done") %>
      <% end %>
    <% end %>
    <%= link_to 'destroy', task , method: :delete, data: { confirm: 'Are you sure?' } %> 
    <br>   
  <% end %>
  <br>
    
</div>
<br>
<br>

<div>
  <%= form_for @task, validate: true do |f| %>
    <% if @task.errors.any? %>
      <h2>Errors: </h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>  
    <% end %>
    <p><%= f.text_field :description, placeholder: "Enter your task" %></p>
    <%= f.hidden_field :feature_id, value: @feature.id  %>
    <%= f.submit("Add Task") %>
  <% end %>
</div>

<br>
<br>

<div>
  <h5>Comments</h5>
  <% @comments.each do |comment| %>
      <b><%= comment.user.name %></b>:
      <br>
      <%= comment.comment.to_s.tr('@','') %>
      <% if current_user == comment.user %>
        <%= link_to 'edit', edit_comment_path(comment) %>
        <%= link_to 'delete', comment , method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br>
  <% end %>
</div>

<div>
  <%= form_for @comment, validate: true do |f| %>
    <% if @comment.errors.any? %>
      <h2>Errors: </h2>
      <ul>
          <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>  
    <% end %>
    <p><%= f.text_field :comment, placeholder: "Enter your comment", class: "mention" %></p>
    <%= f.hidden_field :feature_id, value: @feature.id  %>
    <%= f.hidden_field :user_id, value: session[:user_id]  %>
    <%= f.submit("Add Comment") %>
  <% end %>
</div>




<%= javascript_tag do %>
  x = <%= @usernames %>
<% end %>
<%= javascript_include_tag 'mention.js' %>